export REGION="europe-west2"
export PROJECT_ID=stakxlv0
export GCLOUD_TF_CREDS="/Users/$(whoami)/.config/gcloud/${PROJECT_ID}-terraform-admin.json"
export TF_ADMIN="${PROJECT_ID}-terraform-admin"
export TF_STATE_BUCKET="${PROJECT_ID}-tf-states"
export GOOGLE_APPLICATION_CREDENTIALS=${GCLOUD_TF_CREDS}
export GOOGLE_PROJECT=${PROJECT_ID}
export GCLOUD_CONFIG="/Users/$(whoami)/.config/gcloud/configurations/config_default"